*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:100%;
    border-bottom: 1px solid rgba(207, 207, 207, 0.427);
    padding: 50px 50px 80px 100px;    top: 0;
    z-index: 3;
}
nav div {
    width: 30%;
    text-align: center;
}

nav h1{
    border: 3px solid grey;
    padding: 5px 10px 5px;
    justify-content: center;
    align-items: center;
}

.search{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
nav input {
    border: none ;
    outline: none;
    padding: 11px 20px;
    border-radius: 25px ;
    transition: 0.5s;
}
.search input:hover{
    padding: 11px 10px;
}

.search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 178px;
    top: 90px;
}
.nav-icon{
    color: #606770;
    margin-left: 10px;
}
.nav-icon i {
    margin-left: 15px;
}
.nav-icon i:hover {
    color: #000000;
    border: 5px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-2{
    width: 700px;
    min-height: 40px;
    margin: 20px auto;
    padding: 0 20px ;
}
.nav-2 > li{
    color: #000000;
    padding: 15px 10px;
    float: left;
}
.nav-2 > li a{
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
}
.nav-2  li a:hover{
    color: blueviolet;
}
.nav-2 .menu{
    position: relative;
}
.nav-2 .menu .submenu {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100px;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);
    -moz-box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);   
    box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);
    display: none;
}
.nav-2 .submenu li{
    padding: 10px;
}
.nav-2 .submenu li a{
    color: #000000;
    text-decoration: none;
}
.nav-2 .submenu li a:hover{
    color: blueviolet;
}
.nav-2 .menu .submenu {
    display: none;
}
.sec-2 .d1{
    background-color: #e6e6e6;
    padding: 10px;
}
.sec-2 ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 160px;
   font-size: 16px;
}
.sec-2 ul li {
    padding-right: 10px;
    color: #a3a3a3;
}
.sec-2 ul li span {

    color: blueviolet;
}
.sec-2 ul a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
/* nav end */
.sec-3{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 150px 50px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.427);
}
.sec-3 .div1 img{
    width: 800px;
    height: 400px;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
   
}
.relative{
    position: relative;
}
.sec-3 .div2{
   width: 500px;
}
.sec-3-div1{
    width: 100%;
}
.div2 p{
    margin-top: 10px;
    color: #a3a3a3;
}
.sec-3 .div2 .id h1{
    font-size: 22px;
    color: blueviolet;
}
.sec-3 .div2 form label {
    padding-right: 15px;
}
.sec-3 .div2  .quantity {
    margin-top: 30px;
    padding-left:10px ;
}
.sec-3  .div2 form  .minus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 539px;
    top: 680px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.sec-3  .div2 form  .plus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 490px;
    top: 680px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.sec-3  .div2 form  .plus:hover{
    background-color: blueviolet;
    color: #fff;
}
.sec-3  .div2 form  .minus:hover{
    background-color: blueviolet;
    color: #fff;
}
.sec-3 .div2 .addtocart{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.sec-3 .div2 .addtocart:hover{
    background-color: rgb(123, 37, 204);
    color: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
.container-4{
    background-color: #e3e3e399;
    padding: 70px 50PX 100PX 50PX;
}
.c4-div1{
    display: flex;
    justify-content: center;
}
.border{
    background-color: blueviolet;
    background-size: 1px 1px;
    width: 50px;
    height: 5px;
    border: none;
    border-radius: 5px ;
    position: absolute;
    left: 730px;
}
.c4-div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 25px;
}
.s2-c4-img1{
    width: 400px;
    height: 56vh;
    background-color: #ffffff;
}
.c4-t{
    display: flex;
    justify-content: center;
}
.c4-t p {
    color: #8c8d8f;

}
.c4-t h1 {
    font-size : 20px ;
    color: blueviolet;
}
.c4-div3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-div{
    display: flex;
    justify-content: space-between;
}
.arrow-div .i {
    padding-right: 180px;
}
/* footer */
.footer{
    border-top: 1px solid rgba(207, 207, 207, 0.427);
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.left-footer{
    width:40%;
}
.left-ul{
    display: flex;
    justify-content: space-between;
}
.footer ul , a {
    list-style: none;
    text-decoration: none;
}
.footer li {
    padding-bottom: 10px;
    color: #8c8d8f;
}
.right-footer{
    width:40%;
}
.right-ul{
    display: flex;
    justify-content: space-between;
}
.right-ul-li{
    display: flex;
    justify-content: space-between;
}
.right-ul-li li i{
    color: blueviolet;
    padding: 5px;
}
.buttom-footer{
    background-color: rgb(255, 255, 255);
    color: #8c8d8f;
    font-size: 12px;
    text-align: center;
    height: 20vh;
    padding: 50px 50px 50px 0 ;
}
.footer input{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    padding: 10px 20px 11px 20px;
}
.footer button{
    position: absolute;
    padding: 10px 20px;
    top: 2185.5px;
    right: 69px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.form{
    padding-top: 100px;
}
/* footer end */
