*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:100%;
    border-bottom: 1px solid rgba(207, 207, 207, 0.427);
    padding: 50px 50px 80px 100px;    top: 0;
    z-index: 3;
}
nav div {
    width: 30%;
    text-align: center;
}

nav h1{
    border: 3px solid grey;
    padding: 5px 10px 5px;
    justify-content: center;
    align-items: center;
}

.search{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
nav input {
    border: none ;
    outline: none;
    padding: 11px 20px;
    border-radius: 25px ;
    transition: 0.5s;
}
.search input:hover{
    padding: 11px 10px;
}

.search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 178px;
    top: 90px;
}
.nav-icon{
    color: #606770;
    margin-left: 10px;
}
.nav-icon i {
    margin-left: 15px;
}
.nav-icon i:hover {
    color: #000000;
    border: 5px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-2{
    width: 700px;
    min-height: 40px;
    margin: 20px auto;
    padding: 0 20px ;
}
.nav-2 > li{
    color: #000000;
    padding: 15px 10px;
    float: left;
}
.nav-2 > li a{
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
}
.nav-2  li a:hover{
    color: blueviolet;
}
.nav-2 .menu{
    position: relative;
}
.nav-2 .menu .submenu {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100px;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);
    -moz-box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);   
    box-shadow: 0 1px 1px  rgba(0, 0, 9, 0.5);
    display: none;
}
.nav-2 .submenu li{
    padding: 10px;
}
.nav-2 .submenu li a{
    color: #000000;
    text-decoration: none;
}
.nav-2 .submenu li a:hover{
    color: blueviolet;
}
.nav-2 .menu .submenu {
    display: none;
}
.sec-2 .d1{
    background-color: #e6e6e6;
    padding: 10px;
}
.sec-2 ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 160px;
   font-size: 16px;
}
.sec-2 ul li {
    padding-right: 10px;
    color: #a3a3a3;
}
.sec-2 ul li span {

    color: blueviolet;
}
.sec-2 ul a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
/* nav end */
.sec-3{
    padding: 100px 100px 30px 100px ;
    background-color: #fff;
}

table, td, th {
    border-top: 1px solid rgba(175, 175, 175, 0.388);
    border-left: 1px solid rgba(175, 175, 175, 0.388);
    border-right: 1px solid rgba(175, 175, 175, 0.388);
}
  
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
  
th , td {
    width: 100px;
    height: 100px;
}
table img {
    margin: 10px;
    width: 80%;
    height: 100%;
}

.quantity form  .minus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 690px;
    top: 550px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.quantity form  .plus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 624px;
    top: 550px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.quantity form  .plus:hover{
    background-color: blueviolet;
    color: #fff;
}
.quantity form  .minus:hover{
    background-color: blueviolet;
    color: #fff;
}
.quantity2 form  .minus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 690px;
    top: 674px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.quantity2 form  .plus {
    margin-top: 30px;
    width: 20px;
    height: 40px;
    position: absolute;
    right: 624px;
    top: 674px;
    border: 1px solid blueviolet;
    border-radius: 2px 2px 2px 2px;
    background-color: #fff;
    outline: none;
}
.quantity2 form  .plus:hover{
    background-color: blueviolet;
    color: #fff;
}
.quantity2 form  .minus:hover{
    background-color: blueviolet;
    color: #fff;
}
.remove {
    background-color: blueviolet;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px 10px;
    text-align: center;
}
.s4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 100px 10px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.427);

}
.s4 .left{
    width: 50%;
}
.s4 .right{
    width: 40%;
    padding-top: 50px ;
    
}
.s4 .left .div1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 100px;
}
.s4 .left .div2{
    margin-top: 40px;
    padding-left: 100px;
}
.s4 .left .div2 p {
    color: #a3a3a3;
}
.s4 .left .div3{
    margin-top: 20px;
    padding-left: 100px;
    display: flex;
}
.s4 .left .div3 form input {
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    border: 0.5px solid #a3a3a373;
    border-radius: 5px;
}
.s4 .left .div3 button {
    padding-left: 25px;
    padding-right: 25px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.s4 .left .div3 button:hover {
    background-color: rgb(123, 37, 204);
    color: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.s4 .div1 button {
    width: 240PX;
    height: 40px;
    border-radius:5px ;
}
.s4 .div1 .update{
    background-color: blueviolet;
    border: none;
    color: #fff;
}
.s4 .div1 .continue{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid blueviolet;
    color: blueviolet;
}
.s4 .right .div1{
    display: flex;
    justify-content: end;
    padding-right: 100px;
    
}
.s4 .right .div2{
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
    padding-left: 100px;
    padding-top: 40px;
    width: 100%;
    
}
.s4 .right .div2 h4{
    margin-bottom: 20px;
}
.s4 .right .div1 h1{
    font-size: 25px ;
    border-bottom: 1px solid #a3a3a35e ;
    padding-left: 300px;
}
.s4 .right .div3{
    display: flex;
    justify-content: center;
}
.s4 .right .div3 a {
    width: 60%;
    padding: 10px 20px;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 50px;
    height: 50px;
}
.s4 .right .div3 a:hover{
    background-color: rgb(123, 37, 204);
    color: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
/* footer */
.footer{
    border-top: 1px solid rgba(207, 207, 207, 0.427);
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.left-footer{
    width:40%;
}
.left-ul{
    display: flex;
    justify-content: space-between;
}
.footer ul , a {
    list-style: none;
    text-decoration: none;
}
.footer li {
    padding-bottom: 10px;
    color: #8c8d8f;
}
.right-footer{
    width:40%;
}
.right-ul{
    display: flex;
    justify-content: space-between;
}
.right-ul-li{
    display: flex;
    justify-content: space-between;
}
.right-ul-li li i{
    color: blueviolet;
    padding: 5px;
}
.buttom-footer{
    background-color: rgb(255, 255, 255);
    color: #8c8d8f;
    font-size: 12px;
    text-align: center;
    height: 20vh;
    padding: 50px 50px 50px 0 ;
}
.footer input{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    padding: 10px 20px 11px 20px;
}
.footer button{
    position: absolute;
    padding: 10px 20px;
    top: 1740px;
    right: 69px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.form{
    padding-top: 100px;
}
/* footer end */